.header {
    display: flex;
    justify-content: space-between;
    padding: 30px 0;
    align-items: center;
    position: sticky;
    background-color: white;
    top: 0;
    z-index: 10;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    color: var(--second);
}

.dropdown {
    display: inline;
}

.dropdown > button {
    background-color: transparent;
    color: #EF283B !important;
    border: #EF283B solid 1px;
    border-radius: 10px;
}

.dropdown > button:hover {
    background-color: #b8707f !important;
    border: none;
}

.my-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-bar {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0
}

.nav-items {
    margin: 0 10px;
    padding: 10px;
    cursor: pointer;
}

h1 {
    font-weight: 700;
    font-size: 70px;
}

h2 {
    font-weight: 700;
    font-size: 50px;
}

h3 {
    font-weight: 700;
    font-size: 37px;
    margin-bottom: 20px;
}

section {
    margin-top: 70px;
    margin-bottom: 30px;
}

img {
    width: 100%;
}

section.first > p {
    margin: 10px 15%;
} 

section.third > p {
    margin: 10px 20%;
}

.row {
    align-items: center;
}

.reversed {
    flex-direction: row-reverse;
}

.details {
    width: 80%;
    font-weight: 300;
    margin-bottom: 20px;
}

section.sixth {
    padding: 0 10%;
}

.my-3 {
    padding-top: 30px;
    padding-bottom: 30px;
}

section.sixth .card {
    border-radius: 10px;
    text-align: center;
}

section.eight {
    position: relative;
}

section.eight > div {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

.follow > svg {
    margin-left: 20px;
}

footer {
    border-top: 1px solid #E5E5E5;
    padding-top: 30px;
}

footer .row {
    align-items: flex-start;
    margin-top: 20px;
}

footer p {
    font-size: 16px;
}

footer ul {
    padding: 0;
    list-style: none;
}

h5 {
    font-weight: 700;
}

.carousel-div {
    max-width: 700px;
    margin: auto;
}

.carousel-parent {
    position: relative;
    margin-top: 50px;
    margin-bottom: 50px;
}

.carousel-div.client {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 50px;
}

.carousel-control {
    position: absolute;
    font-size: 22;
    border-radius: 50%;
    border: 1px #000 solid;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* left: 100px; */
    top: 50%;
    cursor: pointer;
}

.carousel-control:hover {
    color: #E5E5E5;
    border: #E5E5E5 solid 1px;
}

.carousel-control.prev {
    left: 100px;
}

.carousel-control.next {
    right: 100px;
}

.hamburger { 
    display: none;
}

.footer-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.footer-inner {
    width: 25%;
    padding-right: 5%;
}

.client img {
    max-width: 17%;
    max-height: 50px;
}

section.form form {
    padding: 40px;
    display: flex;
    flex-direction: column;
    padding: 30px;
    background-color: white;
    border-radius: 10px;
    border: none;
    max-width: 900px;
    margin: auto
}

section.form .app-form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

section.form .app-form-group input, section.form .app-form-group textarea {
    padding: 10px;
    border: none;
    border-radius: 10px;
    background-color: #FBFAFA;
}

section.form .app-form-group.flex {
    flex-direction: row;
    justify-content: space-between;
}

section.form .app-form-group.flex:nth-child(2) .app-form-group:first-child {
    width: 54%;
}

section.form .app-form-group.flex:nth-child(2) .app-form-group:last-child {
    width: 44%;
}

@media only screen and (max-width: 850px) {
    .my-nav {
        flex-direction: column;
        position: absolute;
        width: 100%;
        top: -350%;
        background-color: white;
        padding-bottom: 15px;
        transition: .5s ease-in-out;
    }

    .hamburger {
        display: block;
    }
    
    .my-nav.show {
        top: 70px;
    }

    .my-nav ul {
        flex-direction: column;
    }

    .carousel-control {
        top: 102%;
    }

    h1 {
        font-weight: 700;
        font-size: 60px;
    }
    
    h2 {
        font-weight: 700;
        font-size: 40px;
    }
    
    h3 {
        font-weight: 700;
        font-size: 27px;
        margin-bottom: 20px;
    }

    .header {
        padding: 20px 15px;
    }

    section.fifth .col-md-6 {
        margin-bottom: 50px;
    }

    section.fifth .col-md-6:last-child {
        margin-bottom: -20px;
    }

    section.sixth .col-md-4 {
        margin-bottom: 30px;
    }

    section.eight {
        margin-bottom: 50px;
    }

    .footer-inner {
        width: 50%;
    }

    .footer-inner.wide {
        width: 100%;
        text-align: center;
    }

    .header svg {
        height: 18px !important;
    }

    section {
        text-align: center;
    }

    .details {
        width: 100%;
    }

    .margin-top {
        margin-top: 40px;
    }
}
